*.swp
*.swo
*.pyc
tags
*~
*.orig
*.org
.project
.idea
.pydevproject
.DS_Store
*.db
htmlcov
.coverage
*.mo
dist
build
*.egg-info
.settings
.sass-cache/*
local_settings.py
.settings/*
local_settings.py
dev-upload/*
xpo_import_export/export_replay_files/*.xml
xpo_import_export/export_replay_files/*.txt
xpo_import_export/import_replay_files/*.xml

